@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

input, a {
    font-family: Lexend;
    color: #263238;
}

/* the highlight of the search bar contrasts the border color */
input:focus { 
    outline: 2px solid #d787ff;
}

body {
    font-family: Lexend;
    color: #263238;
}

/* navbar so it stays up there (position: fixed) then have a good width */
nav {
    position: fixed;
    width: calc(100% - 4rem);
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #ffdd64;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 3px solid #FFE587;
}

nav #title {
    font-size: min(3.75vh, 3.75vw);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav li {
    font-size: min(2.75vh, 2.75vw);
    text-align: center;
    padding-left: 2rem;
}

nav a {
    color: #263238;
}

/* make the navbar collapse into vertical navbar */
@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }
    nav li {
        padding: 0.5rem 0;
    }
    /* make content go down as necessary as to not get covered by navbar */
    .container {
        padding-top: 34vh;
    }
}